body {
    background-color: #000;
}

#content {
    margin:auto;
    width: 420px;
    height: 520px;
    padding: 10px;
    
    text-align: center;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #383838;
    font-size: small;
}

#content a,a:active {
    text-decoration: none;
    color: #383838;
}

#content a:hover {
    text-decoration: underline;
}
